*{
    margin:0;
    padding:0;
}

.main {
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
    background-image: url("Background.jpeg");
}


.nav-links{
    flex:1;
    text-align:right;
}

.nav-links ul li{
list-style: none;
display:inline-block;
margin: 1.5% 1.5%;
position: relative;
}

.nav-links ul li a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links ul li::after{
    content:'';
    height:15%;
    width:0%;
    background:#49BEF2;
    position:absolute;
    left:0;
    bottom:-20%;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
width:100%;
}

.circleImage {

    margin-left: 0.45%;
    margin-top: 4%;
    background: white;
    width: 15%;
    height: 30%;
    border-radius: 50%;
    border: solid;
    border-color: black;
    border-width: 5px;
    position: absolute;
}

.rectangleRight {
    margin-top: 8%;
    margin-left: 15%;
    height: 15%;
    width: 35%;
    background-color: #49BEF2;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    animation-name: fadeinright;
    animation-duration: 0.5s;
    white-space: nowrap;
  }

  .rectangleLeft {
    margin-top: 18%;
    height: 15%;
    width: 35%;
    background-color: #49BEF2;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    animation-name: fadeinleft;
    animation-duration: 0.5s;
    white-space: nowrap;
  }

  .nabjyot{
    text-align: center;
    font-size: 7vh;
    margin-left: 0%;
    margin-top: 3.2%;
    font-family: system-ui;
    color:white;
    animation-name: firstFade;
    animation-duration:1s;
  }

  .Developer{
    text-align: center;
    font-size: 7vh;
    vertical-align: text-bottom;
    font-family: system-ui;
    color: white;
    animation-name: secondFade;
    animation-duration: 1.5s;
    margin-top: 1%;
    position: absolute;
    margin-left: 4%;
  }

  @keyframes firstFade {
        0% {
        opacity: 0;
        }
        40%{
            opacity:0;
        }
        100% {
        opacity: 1;
        }
    }

     @keyframes secondFade {
        0% {
            opacity: 0;
            }
            40%{
                opacity:0;
            }
            100% {
            opacity: 1;
            }
    }

    @keyframes fadeinright {
        0% {
            width:0%
          }
          100% {
            width:35%
          }
    }

    @keyframes fadeinleft {
        0% {
            width:0%
          }
          100% {
            width:35%
          }
    }
