*{
    margin:0;
    padding:0;
}

.main {
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
    background:white;
}

.nav_links{
    flex:1;
    text-align:center;
}

.nav_links ul li{
list-style: none;
display:inline-block;
margin: 0.8% 1.5%;
position: relative;
}

.nav_links ul li a{
    font-family:Segoe UI;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.nav_links ul li::after{
    content:'';
    height:15%;
    width:0%;
    background:#252a47;
    position:absolute;
    left:0;
    bottom:-20%;
    transition: 0.5s;
}

.nav_links ul li:hover::after{
width:100%;
}

.circleImage {

  margin-left: 2.45%;
  width: 11%;
  height: 22%;
  border-radius: 50%;
  border: solid;
  border-color: #328db6;
  border-width: 5px;
  position: absolute;
  margin-top: 3%;
}

.rectangleRight {
    
  margin-left: 6.5%;
  height: 8%;
  width: 25%;
  background-color: #328db6;
  position: absolute;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  animation-name: fadeinright;
  animation-duration: 0.5s;
  white-space: nowrap;
  margin-top: 6.5%;
  }

  .rectangleLeft {
    height: 15%;
    width: 20%;
    background-color: #328db6;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    animation-name: fadeinleft;
    animation-duration: 0.5s;
    white-space: nowrap;
    float: right;
    margin-top: 12%;
  }

  .nabjyot{
    text-align: center;
    font-size: 3.5vh;
    margin-left: 25%;
    margin-top: 3.2%;
    font-family: Sylfaen;
    color: white;
    animation-name: firstFade;
    animation-duration: 1s;
  }

  .Developer{
    text-align: center;
    font-size: 3vh;
    vertical-align: text-bottom;
    font-family: Sylfaen;
    color: white;
    animation-name: secondFade;
    animation-duration: 1.5s;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 5%;
  }

  @keyframes firstFade {
        0% {
        opacity: 0;
        }
        40%{
            opacity:0;
        }
        100% {
        opacity: 1;
        }
    }

     @keyframes secondFade {
        0% {
            opacity: 0;
            }
            40%{
                opacity:0;
            }
            100% {
            opacity: 1;
            }
    }

    @keyframes fadeinright {
        0% {
            width:0%
          }
          100% {
            width:25%
          }
    }

    @keyframes fadeinleft {
        0% {
            width:0%
          }
          100% {
            width:20%
          }
    }
