*{
    margin:0;
    padding:0;
}

.main {
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
    background:black;
}


.nav-links{
    flex:1;
    text-align:right;
}

.nav-links ul li{
list-style: none;
display:inline-block;
margin: 1.5% 1.5%;
position: relative;
}

.nav-links ul li a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links ul li::after{
    content:'';
    height:15%;
    width:0%;
    background:rgb(74, 255, 222);
    position:absolute;
    left:0;
    bottom:-20%;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
width:100%;
}

.circleImage {

    margin-left: 0.45%;
    margin-top:0.45%;
    background: white;
    width: 20%;
    height: 40%;
    border-radius: 50%;
    border:solid;
    border-color:black;
    border-width: 5px;
    position: absolute;
}

.externalCircle {
    display: block;
    margin-left: 2.5%;
    margin-top:2.5%;
    background: white;
    width: 21.5%;
    height: 43.25%;
    border-radius: 50%;
}

.rectangle {
    margin-top: 3.5%;
    margin-left: 15%;
    height: 26%;
    width: 100%;
    background-color: rgb(74, 255, 222);
    position: absolute;
  }